.bartusBackground{
  background-image: url("../../../public/bartusViewImage.jpg");
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

/*.bartusDiv{

}*/

.bartusLink{
  color: wheat;
}

.bartusTitle{
  color: wheat;
}

.bartusDiscordGoal{
  background-image: url("../../../public/bartusDiscordGoal.png");
  width: 594px;
  height: 415px;
}